* {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 8%;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nu {
    width: 396px;
    height: 339px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 50px;
    margin-left: 8%;
}

input {
    width: 330px;
    padding: 14px 16px 14px 16px;
    border: none;
    border-radius: 10px;
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    outline: none;

}

.Paa {
    margin-bottom: -50px;

}

.error {
    color: red;
    padding: 14px 16px 14px 16px;
}

.error1 {
    padding: 14px 16px 14px 16px;
}

.submit {
    width: 150px;
    padding: 14px 16px 14px 16px;
    margin-left: 25%;
    margin-top: 0px;
}
/*
.out {
    width: 396px;
    height: 339px;
    background-color: aqua;
    margin-top: -260px;
    margin-left: 400px;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
} */